[project]
	description = Repository created to try out Git actions
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/KanthiNarayanan
[access "refs/for/refs/*"]
	read = group user/KanthiNarayanan
	push = group user/KanthiNarayanan
	label-Code-Review = -2..+2 group user/KanthiNarayanan
	label-Verified = -1..+1 group user/KanthiNarayanan
	rebase = group user/KanthiNarayanan
	removeReviewer = group user/KanthiNarayanan
	submit = group user/KanthiNarayanan
[access "refs/heads/*"]
	read = group user/KanthiNarayanan
	create = group user/KanthiNarayanan
	push = +force group user/KanthiNarayanan
	pushMerge = group user/KanthiNarayanan
[access "refs/tags/*"]
	push = +force group user/KanthiNarayanan
	pushTag = group user/KanthiNarayanan
	pushSignedTag = group user/KanthiNarayanan
